body { 
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
  }

.header{
    overflow: hidden;
    background-color: #f1f1f1;
    box-shadow: -1px 9px 5px -2px rgba(0,0,0,0.14);
}

.header img{
    width: auto;
    height: 40px;
    padding-top: 5px ;
    padding-left: 10px;
}

.header a {
    float: left;
    color: #00BFFF;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 14px; 
    line-height: 25px;
    border-radius: 4px;
    margin-right: 10px;
 }

.header-right{
    float: right;
}

.content{
    border-radius: 25px;
    background: white;
    width: 45%;
    height: 300px;      
    margin-top:8%;
    margin-left:25%;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    padding : 50px 20px 10px 50px;
    position: relative;
}

.content a{
    top:5%;
    padding-top: 5%;
    margin-top: 15%;
    text-align: left;
    font-size: 40px;
    color: rgb(96, 187, 230) ;
    text-decoration: none;
}
.content h2{
    color: rgb(96, 187, 230) ;
}

.content small{
    position: absolute;
    bottom: 23%;
    right: 10%;
    font-size: 18px;
    color: rgb(96, 187, 230) ;
}


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: royalblue;
    color: white;
    text-align: center;
 }


@media screen and (max-width: 535px) {
    .header img{
        width: auto;
        height: 100px;
        margin-left: auto;
        margin-right: auto;
        padding : 0px;
        display: block;
    }
   
    .header a {
        float: none;
        display: inline-block;
        justify-content: center;
    }
    
    .header-right {
        float:unset;
        text-align: center;
    }
  }